<div class="example-container">
    <div class="form-container">
        <form [formGroup]="form" (submit)="submit()">
            <mat-form-field class="form-field" appearance="outline">
                <mat-label> Primer apellido </mat-label>
                <input matInput formControlName="usu_apellido1" #ape1 (input)="ape1.value=ape1.value.toUpperCase()"
                    required>
                <mat-error *ngIf="form.controls.usu_apellido1.touched && form.controls.usu_apellido1.invalid">
                    <span *ngIf="form.controls.usu_apellido1.errors.required">Este campo es obligatorio!.</span>
                    <span *ngIf="form.controls.usu_apellido1.errors.pattern">Dato invalido!.</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="form-field" appearance="outline">
                <mat-label> Segundo apellido </mat-label>
                <input matInput formControlName="usu_apellido2" #ape2 (input)="ape2.value=ape2.value.toUpperCase()"
                    required>
                <mat-error *ngIf="form.controls.usu_apellido2.touched && form.controls.usu_apellido2.invalid">
                    <span *ngIf="form.controls.usu_apellido2.errors.required">Este campo es obligatorio!.</span>
                    <span *ngIf="form.controls.usu_apellido2.errors.pattern">Dato invalido!.</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="form-field" appearance="outline">
                <mat-label> Primer nombre </mat-label>
                <input matInput formControlName="usu_nombre1" #nom1 (input)="nom1.value=nom1.value.toUpperCase()"
                    required>
                <mat-error *ngIf="form.controls.usu_nombre1.touched && form.controls.usu_nombre1.invalid">
                    <span *ngIf="form.controls.usu_nombre1.errors.required">Este campo es obligatorio!.</span>
                    <span *ngIf="form.controls.usu_nombre1.errors.pattern">Dato invalido!.</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="form-field" appearance="outline">
                <mat-label> Segundo nombre </mat-label>
                <input matInput formControlName="usu_nombre2" #nom2 (input)="nom2.value=nom2.value.toUpperCase()">
                <mat-error *ngIf="form.controls.usu_nombre2.touched && form.controls.usu_nombre2.invalid">
                    <span *ngIf="form.controls.usu_nombre2.errors.pattern">Dato invalido!.</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="form-field" appearance="outline">
                <mat-label> Tipo documento </mat-label>
                <mat-select formControlName="tdc_id" name="tipodoc" required ngDefaultControl>
                    <mat-option *ngFor="let tdc of tipodoc" [value]="tdc.tdc_id"> {{tdc.tdc_nombre}} </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="form-field" appearance="outline">
                <mat-label> Documento </mat-label>
                <input matInput formControlName="usu_identificacion" required>
                <mat-error *ngIf="form.controls.usu_identificacion.touched && form.controls.usu_identificacion.invalid">
                    <span *ngIf="form.controls.usu_identificacion.errors.required">Este campo es obligatorio!.</span>
                    <span *ngIf="form.controls.usu_identificacion.errors.pattern">Dato invalido!.</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label> Fecha de ingreso </mat-label>
                <input matInput [min]="minDate" [max]="maxDate" formControlName="usu_fechaingreso"
                    [matDatepicker]="usu_fechaingreso" required>
                <mat-datepicker-toggle matSuffix [for]="usu_fechaingreso"></mat-datepicker-toggle>
                <mat-datepicker #usu_fechaingreso></mat-datepicker>
                <mat-error *ngIf="form.controls.usu_fechaingreso.touched && form.controls.usu_fechaingreso.invalid">
                    <span *ngIf="form.controls.usu_fechaingreso.errors.required">Este campo es obligatorio!.</span>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label> Área </mat-label>
                <mat-select formControlName="area_id" name="area" required ngDefaultControl>
                    <mat-option *ngFor="let ar of area" [value]="ar.area_id"> {{ar.area_nombre}} </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label> País </mat-label>
                <mat-select formControlName="pais_id" name="pais" required ngDefaultControl>
                    <mat-option *ngFor="let pa of pais" [value]="pa.pais_id"> {{pa.pais_nombre}} </mat-option>
                </mat-select>
            </mat-form-field>

            <br />
            <button mat-raised-button color="primary" type="submit">Guardar</button>
        </form>
    </div>
</div>