<div class="example-container mat-elevation-z8">
    <div class="header">
        <mat-form-field>
            <input matInput (keyup)="aplicarFiltro($event)" placeholder="Buscar"  #filtro (input)="filtro.value=filtro.value.toUpperCase()">
        </mat-form-field>
    </div>

    <div class="example-table-container">
        <table mat-table [dataSource]="dataSource" matSort>

            <ng-container matColumnDef="usu_apellido1">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Primer apellido </th>
                <td mat-cell *matCellDef="let element"> {{element.usu_apellido1}} </td>
            </ng-container>

            <ng-container matColumnDef="usu_apellido2">
                <th mat-header-cell *matHeaderCellDef> Segundo apellido </th>
                <td mat-cell *matCellDef="let element"> {{element.usu_apellido2}} </td>
            </ng-container>

            <ng-container matColumnDef="usu_nombre1">
                <th mat-header-cell *matHeaderCellDef> Primer nombre </th>
                <td mat-cell *matCellDef="let element"> {{element.usu_nombre1}} </td>
            </ng-container>

            <ng-container matColumnDef="usu_nombre2">
                <th mat-header-cell *matHeaderCellDef> Segundo nombre </th>
                <td mat-cell *matCellDef="let element"> {{element.usu_nombre2}} </td>
            </ng-container>

            <ng-container matColumnDef="tdc_nombre">
                <th mat-header-cell *matHeaderCellDef> Tipo documento </th>
                <td mat-cell *matCellDef="let element"> {{element.tdc_nombre}} </td>
            </ng-container>

            <ng-container matColumnDef="usu_identificacion">
                <th mat-header-cell *matHeaderCellDef> Documento </th>
                <td mat-cell *matCellDef="let element"> {{element.usu_identificacion}} </td>
            </ng-container>

            <ng-container matColumnDef="usu_correo">
                <th mat-header-cell *matHeaderCellDef> Correo </th>
                <td mat-cell *matCellDef="let element"> {{element.usu_correo}} </td>
            </ng-container>

            <ng-container matColumnDef="pais_nombre">
                <th mat-header-cell *matHeaderCellDef> País </th>
                <td mat-cell *matCellDef="let element"> {{element.pais_nombre}} </td>
            </ng-container>

            <ng-container matColumnDef="area_nombre">
                <th mat-header-cell *matHeaderCellDef> Área </th>
                <td mat-cell *matCellDef="let element"> {{element.area_nombre}} </td>
            </ng-container>

            <ng-container matColumnDef="usu_fechaingreso">
                <th mat-header-cell *matHeaderCellDef> Fecha de ingreso </th>
                <td mat-cell *matCellDef="let element"> {{element.usu_fechaingreso | date: 'dd/MM/YYYY'}} </td>
            </ng-container>

            <ng-container matColumnDef="usu_estado">
                <th mat-header-cell *matHeaderCellDef> Estado </th>
                <td mat-cell *matCellDef="let element"> {{element.usu_estado ? 'Activo' : 'Inactivo'}} </td>
            </ng-container>

            <ng-container matColumnDef="usu_fechahoraregistro">
                <th mat-header-cell *matHeaderCellDef> Fecha de registro </th>
                <td mat-cell *matCellDef="let element"> {{element.usu_fechahoraregistro | date: 'dd/MM/YYYY hh:mm:ss'}}
                </td>
            </ng-container>

            <ng-container matColumnDef="usu_fechahoraedicion">
                <th mat-header-cell *matHeaderCellDef> Fecha de edición </th>
                <td mat-cell *matCellDef="let element"> {{element.usu_fechahoraedicion | date: 'dd/MM/YYYY hh:mm:ss'}}
                </td>
            </ng-container>

            <ng-container matColumnDef="editar">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Editar </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-fab color="primary" (click)="editar(element)">
                        <mat-icon>edit</mat-icon>
                    </button>
                </td>
            </ng-container>

            <ng-container matColumnDef="eliminar">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Eliminar </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-fab color="warn" (click)="eliminar(element)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSize]="10" showFirstLastButtons></mat-paginator>
    </div>
    <!--<mat-paginator [pageSize]="10"></mat-paginator>-->
</div>

<div class="card-container">
    <app-editar [usuario]="usuario" (actualizado)="editado($event)" *ngIf="control"></app-editar>
</div>